:root {
  --max-width: 1200px;
  --border-radius: 12px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* For Webkit browsers */
::-webkit-scrollbar {
  width: 5px; /* for vertical scrollbars */
  height: 5px; /* for horizontal scrollbars */
  scrollbar-color: #de6b48 transparent;
}

::-webkit-scrollbar-track {
  background: transparent; /* or any color */
}

::-webkit-scrollbar-thumb {
  background-color: #de6b48; /* scrollbar color */
  border-radius: 10px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #de6b48 transparent;
}

:root {
  /* Override FullCalendar CSS variables */
  --fc-highlight-color: rgba(
    176,
    196,
    222,
    1
  ) !important; /* Light Steel Blue (semi-transparent) */
  --fc-today-bg-color: rgba(
    176,
    196,
    222,
    0.7
  ) !important; /* Light Steel Blue (semi-transparent) */
}
